1.  รหัส ชื่อ และหมู่ของนิสิตในกลุ่ม
6710451208 มนัสนันท์ รัตนเกียรติขจร 200
6710451402 สิรินดา ศิลปเจริญ 200

2. วัตถุประสงค์ของระบบต้นแบบ
- เพื่อพัฒนาพัฒนาระบบช่วยวิเคราะห์และคาดการณ์ความเสี่ยงในการลาออกของพนักงาน (Employee Attrition)

3. ลิงค์ไปยังข้อมูลที่จะใช้ในระบบต้นแบบ

In [1]:
import pandas as pd
df_employee = pd.read_csv("WA_Fn-UseC_-HR-Employee-Attrition.csv")
df_employee

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

4. ใช้ baseline และ วิธีการประเมินอะไรได้บ้าง อย่างไร มีค่าเป็นเท่าไหร่
- ใช้ DummyClassifier โดยมี strategy ที่เหมาะสมได้แก่
    * most_frequent มีค่าประมาณ 0.821 
    * stratified มีค่าประมาณ 0.703
    * uniform มีค่าประมาณ 0.492
    * constant มีค่าประมาณ 0.821

In [17]:
from sklearn.model_selection import train_test_split

df_employee_train, df_employee_test = train_test_split(
    df_employee, test_size=0.3, random_state=123)
df_employee_val, df_employee_test = train_test_split(
    df_employee, test_size=0.5, random_state=123)

In [18]:
from sklearn.dummy import DummyClassifier
dummy_employee = DummyClassifier(strategy="most_frequent")
dummy_employee.fit(df_employee_train, df_employee_train["Attrition"])
dummy_employee.score(df_employee_val, df_employee_val["Attrition"])

0.8217687074829932

In [19]:
dummy_employee = DummyClassifier(strategy="stratified")
dummy_employee.fit(df_employee_train, df_employee_train["Attrition"])
dummy_employee.score(df_employee_val, df_employee_val["Attrition"])

0.6993197278911565

In [20]:
dummy_employee = DummyClassifier(strategy="uniform")
dummy_employee.fit(df_employee_train, df_employee_train["Attrition"])
dummy_employee.score(df_employee_val, df_employee_val["Attrition"])

0.5170068027210885

In [21]:
dummy_employee = DummyClassifier(strategy="constant", constant="No")
dummy_employee.fit(df_employee_train, df_employee_train["Attrition"])
dummy_employee.score(df_employee_val, df_employee_val["Attrition"])

0.8217687074829932

5. training score, test score ปัจจุบันมีค่าเท่าไหร่

In [7]:
from sklearn.model_selection import train_test_split
seed = 123
df_employee_train, df_employee_test = train_test_split(
    df_employee, test_size=0.3, random_state=seed)

df_employee_val, df_employee_test = train_test_split(
    df_employee, test_size=0.5, random_state=seed)

In [12]:
from sklearn.dummy import DummyClassifier

dummy_employee = DummyClassifier(strategy="most_frequent")
dummy_employee.fit(df_employee_train, df_employee_train["Attrition"])
train_score = dummy_employee.score(df_employee_train, df_employee_train["Attrition"])
test_score = dummy_employee.score(df_employee_test, df_employee_test["Attrition"])
print(f"Training Accuracy: {train_score}")
print(f"Test Accuracy: {test_score}")

Training Accuracy: 0.8250728862973761
Test Accuracy: 0.85578231292517

In [13]:
dummy_employee = DummyClassifier(strategy="stratified")
dummy_employee.fit(df_employee_train, df_employee_train["Attrition"])
train_score = dummy_employee.score(df_employee_train, df_employee_train["Attrition"])
test_score = dummy_employee.score(df_employee_test, df_employee_test["Attrition"])
print(f"Training Accuracy: {train_score}")
print(f"Test Accuracy: {test_score}")

Training Accuracy: 0.7084548104956269
Test Accuracy: 0.7142857142857143

In [14]:
dummy_employee = DummyClassifier(strategy="uniform")
dummy_employee.fit(df_employee_train, df_employee_train["Attrition"])
train_score = dummy_employee.score(df_employee_train, df_employee_train["Attrition"])
test_score = dummy_employee.score(df_employee_test, df_employee_test["Attrition"])
print(f"Training Accuracy: {train_score}")
print(f"Test Accuracy: {test_score}")

Training Accuracy: 0.4897959183673469
Test Accuracy: 0.4965986394557823

In [22]:
dummy_employee = DummyClassifier(strategy="constant", constant="No")
dummy_employee.fit(df_employee_train, df_employee_train["Attrition"])
train_score = dummy_employee.score(df_employee_train, df_employee_train["Attrition"])
test_score = dummy_employee.score(df_employee_test, df_employee_test["Attrition"])
print(f"Training Accuracy: {train_score}")
print(f"Test Accuracy: {test_score}")

Training Accuracy: 0.8250728862973761
Test Accuracy: 0.85578231292517

6. จากการประเมินด้วยวิธีต่าง ๆ สามารถนำโมเดลไปใช้งานจริงได้แล้วหรือไม่ เพราะเหตุใด
- ยังไม่สามารถใช้งานจริงได้ เพราะ Baseline ไม่ได้เรียนรู้จากคุณลักษณะจริงของพนักงาน
- โมเดลทำนายค่าที่พบบ่อยที่สุด คือค่า No จะพลาดพนักงานที่ลาออกจริง
- Baseline มีจุดประสงค์คือ วัดมาตรฐานเปรียบเทียบว่าโมเดลจริงต้องดีกว่านี้

7. ทำอะไรได้บ้างเพื่อให้คะแนนต่าง ๆ มีค่าสูงขึ้น และ/หรือ โมเดลมีประโยชน์มากขึ้น

- Data Improvement: ทำความสะอาดข้อมูล กำจัดค่าผิดปกติ และจัดการปัญหา class imbalance เพื่อให้โมเดลเรียนรู้ได้ดีขึ้น

- Feature Engineering: สร้างหรือเลือกฟีเจอร์ที่มีความสัมพันธ์กับตัวแปรเป้าหมายสูง เพื่อลด noise และเพิ่ม signal

- Model Tuning: ทดลองใช้โมเดลต่าง ๆ หรือปรับพารามิเตอร์ของโมเดลที่ใช้อยู่ เพื่อหาการตั้งค่าที่เหมาะสมที่สุด

- Evaluation: ใช้ metric ที่เหมาะสม และอาจแบ่งชุดข้อมูล validation เพื่อป้องกัน overfitting

8. ปร​ะเด็น​อื่น ๆ ที่เกี่ยว​ข้องกั​บข้อมูลของ​ตัวเอง
- ตรวจสอบว่าโมเดลยังทำนาย Attrition ได้ถูกต้องถ้ามีข้อมูลบาง field ถูกเปลี่ยน โมเดลให้ผลสอดคล้องหรือไม่
Directional expectation test
- ตรวจสอบว่าโมเดลตอบสนองตามตรรกะ
Model confidence
- ดูว่าโมเดลมั่นใจในการทำนายแต่ละพนักงานแค่ไหน
Model calibration
- ตรวจสอบว่าความน่าจะเป็นของโมเดลสอดคล้องกับผลจริง

9. ก​าร​มีส่วน​ร่วมของสม​าชิกแต่ละ​คนในกลุ่ม (แต่ล​ะคนทำอะไรบ้าง)
6710451208 มนัสนันท์ รัตนเกียรติขจร 200
- ตอบคำถามและหาข้อมูลเกี่ยวกับข้อ 3,5,7,9
- ช่วยกันออกความเห็นในการตอบคำถามข้ออื่น ๆ 

6710451402 สิรินดา ศิลปเจริญ 200
- ตอบคำถามและหาข้อมูลเกี่ยวกับ 4,6,8,10
- ช่วยกันออกความเห็นในการตอบคำถามข้ออื่น ๆ

10. กา​รเปิ​ดเผ​ยกา​รใช้เค​รื่อ​งมือปัญ​ญาป​ระดิษฐ์ (ใช้อะไร ใช้เพื่ออะไร ใช้อย่างไร, pro​mpt อย่างไร)
- ช่วยดู error ในการเขียนโค้ด
- ช่วยเรียบเรียงคำพูดให้สละสลวย (มีการส่งข้อมูลที่เขียนขึ้นเองเข้าไปให้เรียบเรียงคำพูด)
- ให้คำแนะนำและอธิบายแนวคิด